
body {
    background-color: #212529f0;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #2A2A2A; 
    color: white;
    }

th, td {
    padding: 10px;
    border: 1px solid #444;
}

th {
    background-color: #333; 
    color: #FFD700; 
    }

td  {
    color:darkgray ;

}