@model IEnumerable<Progetto_BE_S5.Models.TipoViolazione>

@{
    ViewBag.Title = "Elenco Violazioni";
}

<h2>Elenco Violazioni</h2>

<table class="table">
    <thead>
        <tr>
            <th>Descrizione</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var violazione in Model)
        {
            <tr>
                <td>@violazione.Descrizione</td>
            </tr>
        }
    </tbody>
</table>
